@using HardX.Models
@model HardX.Models.Matmodel
@{
    ViewBag.Title = "Совместимость орг техники для расходного материала " + Model.Name + " " + Model.Partnumber;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Compatibility", "Matmodel"))
{	
	
	foreach (var item in (new Devmodel()).GetAll())
	{
		<p>
		<input type="checkbox" name="DevmodelSelections" value="@item.ID" @(((List<int>)Model.Devmodels.Select(x => x.ID).ToList()).Contains(item.ID) ? "checked" : "") /> @item.Name 
		</p>
	}

	<p>
		<input type="submit" value="Сохранить" /> @Html.ActionLink("Отмена", "Index")
    </p>
}
