@model HardX.Models.Matmodel

@using HardX.Models

@{
    ViewBag.Title = "Редактировать расходный материал";
}

<h2>Редактировать расходный материал</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
        @Html.LabelFor(model => model.Typedev)
      </div>
      <div class="editor-field">
        @Html.DropDownListFor(model => model.TypedevID, new SelectList((List<Typedev>)(new Typedev()).GetAll("SIGN='MAT'") , "ID", "Name" ))
        </div>
        
        <div class="editor-field">
			@Html.LabelFor(model => model.Partnumber)
            @Html.EditorFor(model => model.Partnumber)       
			@Html.ValidationMessageFor(model => model.Partnumber)     
        </div>

        
        
		<div class="editor-label">
            @Html.LabelFor(model => model.VendorID)
        </div>
        <div class="editor-field">
			@Html.DropDownListFor(model => model.VendorID, new SelectList((List<Vendor>)(new Vendor()).GetAll() , "ID", "Name" ))
        </div>
		

        <p>
            <input type="submit" value="Сохранить" /> @Html.ActionLink("Назад", "Index")
        </p>
    </fieldset>
}

