@model IEnumerable<HardX.Models.Matmodel>

@{
    ViewBag.Title = "Список расходных материалов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить расходный материал", "Create")
</p>
<table>
    <tr>        
        <th>
            Наименование
        </th>
        <th>
            Производитель
        </th>
		<th>
            Номер
        </th>
        <th>
            Скорость печати
        </th>
		<th>
            Ресурс
        </th>
		<th>
            Цена
        </th>
		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @item.Name
        </td>
        <td>
            @item.Vendor.Name
        </td>
		<td>
            @item.Partnumber
        </td>
		<td>
            @item.Capacity
        </td>
		<td>
            @item.Price
        </td>
		<td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Просмотр", "Details", new { id=item.ID }) |
			@Html.ActionLink("Совместимость", "Compatibility", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID }, new { onclick = "return confirm('Вы действительно хотите удалить?');" })
        </td>
    </tr>
}

</table>



