@model HardX.Models.Town
@using HardX.Models

@{
    ViewBag.Title = "Редактирование населённого пункта";
}

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>        

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

		<div class="editor-label">
            @Html.LabelFor(model => model.Region)
        </div>
        <div class="editor-field">
			@Html.DropDownListFor(model => model.Region.ID, new SelectList((List<Region>)(new Region()).GetAll() , "ID", "FullName" ), new {@class="chosen-select", @style="width: 350px;" })
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

