@model IEnumerable<HardX.Models.Room>


@{
    ViewBag.Title = "Список Кабинетов";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить Кабинет", "Create")
</p>
<table>
    <tr>
        <th>
			Имя
        </th>

		<th>
			Здание
        </th>
		
		<th>
			Улица
        </th>

        <th>
			Населённый пункт
        </th>
				
        

		
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
            @item.Name
        </td>
		<td>
            @item.House.Name
        </td>
		<td>
            @item.House.Street.Name
        </td>
		<td>
            @item.House.Street.Town.Name
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Просмотр", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID }, new { onclick = "return confirm('Вы действительно хотите удалить?');" })
        </td>        
    </tr>
}

</table>

