@model HardX.Models.Role

@{
    ViewBag.Title = "Редактирование роли";
}

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Роль</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

		@{
			List<HardX.Models.Action> theListAction = new List<HardX.Models.Action>();
			HardX.Models.Action theAction = new HardX.Models.Action();				
			theListAction = (List<HardX.Models.Action>) theAction.GetAll();
		}
		<h5>Доступы:</h5>
		@foreach (var item in theListAction)
		{
				 
			var actionID = "ActionID_" + item.Id; 
			
				if (Model.IsExistAction(Convert.ToInt32(item.Id))) {
					<input type="checkbox"
					checked="true" 
					id=@actionID
					name="Actions"
					value="@item.Id"/>
				}
				else
				{
					<input type="checkbox"
				
					id=@actionID
					name="Actions"
					value="@item.Id"/>
				
				}
			    
					
			<label for=@actionID>@item.Name</label>

			<br />
		}

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

