@model HardX.Models.Area
@using HardX.Models

@{
    ViewBag.Title = "Просмотр площадки";
}

<h2>@ViewBag.Title</h2>

<fieldset>

    <div class="display-label">Имя:</div>
    <div class="display-field">@Model.Name</div>

	<div class="display-label">Кладовщик:</div>
    <div class="display-field">@Model.User.Name</div>

</fieldset>

<br/><p>Кабинеты:</p>

@foreach(Room item in @Model.Rooms)
		{
			<p>
				@item.FullName
			</p>
		}

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>

