@model HardX.Models.Store

@using HardX.Models

@{
    ViewBag.Title = "Редактировать склад";
}

<h2>Редактировать Склад</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Наименование:</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)			
            @Html.EditorFor(model => model.Name)    
			@Html.ValidationMessageFor(model => model.Name)
        </div>

		<table>
			<tr>
				<td>
					<div class="editor-label">
						@Html.LabelFor(model => model.User)
					</div>
					<div class="editor-field">
						@Html.DropDownListFor(model => model.User.Id, new SelectList((List<User>)(new User()).GetAll() , "Id", "Name" ), string.Empty, new {@class="chosen-select", @style="width: 350px;", @placeholder="Выбрать..." })
					</div>
				</td>
				<td>		
					<div class="editor-label">
						@Html.LabelFor(model => model.User2)
					</div>
					<div class="editor-field">
						@Html.DropDownListFor(model => model.User2.Id, new SelectList((List<User>)(new User()).GetAll( ) , "Id", "Name" ), string.Empty, new {@class="chosen-select", @style="width: 350px;", @placeholder="Выбрать..." })
					</div>
				</td>
			</tr>
		</table>

		
		<div class="editor-label">
            @Html.LabelFor(model => model.Room)
        </div>
        <div class="editor-field">
			@Html.DropDownListFor(model => model.Room.ID, new SelectList((List<Room>)(new Room()).GetAll() , "ID", "FullName" ), string.Empty, new {@class="chosen-select", @style="width: 350px;", @placeholder="Выбрать..." })
        </div>


		@{
			List<HardX.Models.Area> theListArea = new List<HardX.Models.Area>();
			HardX.Models.Area theArea = new HardX.Models.Area();				
			theListArea = (List<HardX.Models.Area>) theArea.GetAll();
		}

		<br/>
		<table class="tablesorter">
			<thead>
				<tr>
					<td></td>
					<td>Площадки</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in theListArea)
				{
				 
					var areaID = "AreaID_" + item.Id; 
				
					<tr>
						<td>					
							@if (Model.IsExistArea(Convert.ToInt32(item.Id))) {
								<input type="checkbox" checked="true" id=@areaID name="Areas" value="@item.Id"/>
							}
							else
							{
								<input type="checkbox" id=@areaID name="Areas" value="@item.Id"/>
							}
						</td>
						<td> @item.Name </td>
					</tr>			
				}
			</tbody>
			<tfood>
				<tr>
					<th colspan="2" class="ts-pager form-horizontal">
						<button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
						<button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
						<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
						<button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
						<button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
						<select class="pagesize input-mini" title="Select page size">
							<option selected="selected" value="10">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
							<option value="40">40</option>
						</select>
						<select class="pagenum input-mini" title="Select page number"></select>
					</th>
				</tr>
			</tfood>
		</table>
		        
        <p>
            <input type="submit" value="Сохранить" /> @Html.ActionLink("Назад", "Index")
        </p>
    </fieldset>
}

