@using HardX.Models
@model List<HardX.Models.Device>

@{
    Layout = "";
}
<style type="text/css">
    body {font-family: Tahoma;}
    h2 {color:red}
    table {border:1px solid black; border-spacing:0}
    td {color:green; font-size:.8em; padding:5px}
    .heading {background:#ccc}
</style>

<h2>Отчёт</h2>

<table>

	<tr class="heading">
		
		<th>
            Производитель
        </th>
	
        <th>
            Тип
        </th> 

        <th>
			Имя модели
		</th>

		<th>
			Где установлен?
		</th>
				
		<th>
			Куда выдан?
		</th>

		<th>
			Причина брака
		</th>

		<th>
			Серийный номер
		</th>

		<th>
			IP адрес
		</th>

		<th>
			Хост
		</th>

		<th>
			Дата изменения
		</th>

    </tr>

	
	@foreach(var item in Model) {
    <tr> 

        <td>
            @item.Devmodel.Vendor.Name
        </td>
		    
        <td>
            @item.Devmodel.Typedev.Name
        </td>
	     
		     
        <td>
            @item.Devmodel.FullName 
        </td>
		     
        
		
        <td>			
            @item.GetStoreName(@item.GetStoreIDFromHistory((List<Devhistory>) ViewBag.Devhistory), (List<Store>) ViewBag.Stores)
        </td>
		
        <td>
            куда выдан
        </td>

		<td>
            Причина брака
        </td>
		
        <td>
            сер номер
        </td>

		<td>
            IP адрес
        </td>

		<td>
            хост
        </td>

		<td>
            дата изменения
        </td>
					

    </tr>

	}

</table>