@using HardX.Models
@model List<HardX.Models.Material>

@{
    Layout = "";
}
<style type="text/css">
    body {font-family: Tahoma;}
    h2 {color:red}
    table {border:1px solid black; border-spacing:0}
    td {color:green; font-size:.8em; padding:5px}
    .heading {background:#ccc}
</style>

<h2>Отчёт</h2>

<table>

	<tr class="heading">
		
		<th>
            Производитель
        </th>
	
        <th>
            Тип
        </th> 

        <th>
            Наименование
        </th>

		<th>
            Совместимая техника
        </th>
		
				
        <th>
            Наличие
        </th>
		
        <th>
            Выдано
        </th>
				
        <th>
            Установлено
        </th>

        <th>
            Забраковано
        </th>
    </tr>

	
	@foreach (var item in   ( from matmain in
										(  from matmodel in
													(
														from material in (List<Material>) Model
														where material.Store.ID == ViewBag.theStore.ID
														select new  {	
																		MatmodelID=material.Matmodel.ID,
																		StatusID = material.StatusID,											
																	}
													) 
						  
										  group matmodel by matmodel.MatmodelID into newGroup
										  select new {ID = newGroup.Key, MatmodelID = newGroup.Key, Materials = newGroup}
										)
								join matmodel_name in (List<Matmodel>) ViewBag.Matmodels on matmain.ID equals matmodel_name.ID
								select new	{
												ID = matmodel_name.ID,
												MatmodelID = matmodel_name.ID,
												Matmodel = matmodel_name,
												Count = matmain.Materials.Count(x=>x.StatusID==1),
												CountIssue = matmain.Materials.Count(x=>x.StatusID==2),
												CountSetup = matmain.Materials.Count(x=>x.StatusID==22),
												CountMarriage = matmain.Materials.Count(x=>x.StatusID==3),
												Devnames = matmodel_name.Devnames(),
											}
							)
		 ) {
    <tr> 

        <td>
            @item.Matmodel.Vendor.Name
        </td>
		    
        <td>
            @item.Matmodel.Typedev.Name
        </td>
	     
		     
        <td>
            @item.Matmodel.FullName 
        </td>
		          
        <td>
			@item.Devnames
            
        </td>
        
		
        <td>			
            @item.Count
        </td>
		
        <td>
            @item.CountIssue
        </td>
		
        <td>
            @item.CountSetup
        </td>

        <td>
            @item.CountMarriage
        </td>
					

    </tr>

	}

</table>