@using HardX.Models
@model List<HardX.Models.Device>

@{
    Layout = "";
}
<style type="text/css">
    body {font-family: Tahoma;}
    h2 {color:red}
    table {border:1px solid black; border-spacing:0}
    td {color:green; font-size:.8em; padding:5px}
    .heading {background:#ccc}
</style>

<h2>Отчёт</h2>

<table>

	<tr class="heading">
		
		<th>
            Производитель
        </th>
	
        <th>
            Тип
        </th> 

        <th>
			Имя модели
		</th>
		

		<th>
			Где установлен?
		</th>
				
		<th>
			Куда выдан?
		</th>

		<th>
			Причина брака
		</th>

		<th>
			Серийный номер
		</th>

		<th>
			IP адрес
		</th>

		<th>
			Хост
		</th>

		<th>
			Дата изменения
		</th>

    </tr>

	
	@foreach(var item in Model) {
    <tr> 

        <td>
            @item.Devmodel.Vendor.Name
        </td>
		    
        <td>
            @item.Devmodel.Typedev.Name
        </td>
	     
		     
        <td>
            @item.Devmodel.FullName 
        </td>
		     
        		
        <td>			
			@foreach(var store2 in ((List<Store>)ViewBag.Stores).Where(x => x.ID==item.StoreIssuedID))
							{
								@store2.Name
							}
        </td>
		
        <td>
            @foreach(var room2 in ((List<Room>)ViewBag.Rooms).Where(x => x.ID==item.RoomSetupID))
							{
								@room2.FullName
							}
        </td>

		<td>
            @item.CauseOfMarriage
        </td>
		
        <td>
            @item.Serial
        </td>

		<td>
            @item.IPAddr
        </td>

		<td>
            @item.Host
        </td>

		<td>
            @item.Updated_At
        </td>
					

    </tr>

	}

</table>