@using HardX.Models
@model List<HardX.Models.Device>

@{
    Layout = "";
}
<style type="text/css">
    body {font-family: Tahoma;}
    h2 {color:red}
    table {border:1px solid black; border-spacing:0}
    td {color:green; font-size:.8em; padding:5px}
    .heading {background:#ccc}
</style>

<h2>Отчёт</h2>

<table>

	<tr class="heading">
		
		<th>
            Производитель
        </th>
	
        <th>
            Тип
        </th> 

        <th>
			Имя модели
		</th>

		<th>
			Наличие
		</th>
				
		<th>
			Выдано
		</th>

		<th>
			Установлено
		</th>

		<th>
			Забраковано
		</th>
    </tr>

	
	@foreach (var item in   ( from devmain in
										(  from devmodel in
													(
														from device in (List<Device>) Model
														where device.Store.ID == ViewBag.theStore.ID
														select new  {	
																		DevmodelID=device.Devmodel.ID,
																		StatusID = device.StatusID,											
																	}
													) 
						  
										  group devmodel by devmodel.DevmodelID into newGroup
										  select new {ID = newGroup.Key, DevmodelID = newGroup.Key, Devices = newGroup}
										)
								join devmodel_name in (List<Devmodel>) ViewBag.Devmodels on devmain.ID equals devmodel_name.ID
								select new	{
												ID = devmodel_name.ID,
												DevmodelID = devmodel_name.ID,
												Devmodel = devmodel_name,
												Count = devmain.Devices.Count(x=>x.StatusID==1),
												CountIssue = devmain.Devices.Count(x=>x.StatusID==2),
												CountSetup = devmain.Devices.Count(x=>x.StatusID==22),
												CountMarriage = devmain.Devices.Count(x=>x.StatusID==3),
											}
							)
		 ) {
    <tr> 

        <td>
            @item.Devmodel.Vendor.Name
        </td>
		    
        <td>
            @item.Devmodel.Typedev.Name
        </td>
	     
		     
        <td>
            @item.Devmodel.FullName 
        </td>
		     
        
		
        <td>			
            @item.Count
        </td>
		
        <td>
            @item.CountIssue
        </td>

		<td>
            @item.CountSetup
        </td>
		
        <td>
            @item.CountMarriage
        </td>
					

    </tr>

	}

</table>