@using HardX.Models
@model List<HardX.Models.Material>

@{
    Layout = "";
}
<style type="text/css">
    body {font-family: Tahoma;}
    h2 {color:red}
    table {border:1px solid black; border-spacing:0}
    td {color:green; font-size:.8em; padding:5px}
    .heading {background:#ccc}
</style>

<h2>Отчёт</h2>

<table>

	<tr class="heading">
		
		<th>
            Производитель
        </th>
	
        <th>
            Тип
        </th> 

        <th>
            Наименование
        </th>

		<th>
            Совместимая техника
        </th>
		
				
        <th>
            Наличие
        </th>
		
        <th>
            Выдано
        </th>
				
        <th>
            Установлено
        </th>

        <th>
            Забраковано
        </th>
    </tr>

	
	@foreach(var item in ViewBag.theStore.StoreMatDetails) {
    <tr> 

        <td>
            @item.Matmodel.Vendor.Name
        </td>
		    
        <td>
            @item.Matmodel.Typedev.Name
        </td>
	     
		     
        <td>
            @item.Matmodel.FullName 
        </td>
		          
        <td>
			@((new MaterialUchet()).GetAll("REPOSITORY_ID="+@ViewBag.theStore.ID+" AND MAT_MODEL_ID="+@item.Matmodel.ID)[0].devnames)
            
        </td>
        
		
        <td>			
            @item.Store.GetMaterialCountFromList(Model, @item.Matmodel.ID, 1)
        </td>
		
        <td>
            @ViewBag.theStore.GetMaterialsCountFromHistory(ViewBag.Mathistory, @item.Matmodel.ID, 2)
        </td>
		
        <td>
            @item.Store.GetMaterialCountFromList(Model, @item.Matmodel.ID, 22)
        </td>

        <td>
            @item.Store.GetMaterialCountFromList(Model, @item.Matmodel.ID, 3)
        </td>
					

    </tr>

	}

</table>