@using HardX.Models
@{
    ViewBag.Title = "Данные по оргтехники";
}

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

@Html.ActionLink("Назад на склад", "Devices", new { id=ViewBag.StoreID }) 

<div id="tabs">
	 <ul>
		<li><a href="#tabs-1">Наличие</a></li>
		<li><a href="#tabs-2">Выдано</a></li>
		<li><a href="#tabs-22">Установлено</a></li>
		<li><a href="#tabs-3">Забраковано</a></li>
	</ul>
	<div id="tabs-1">
		<table>
			<tbody id="tbody_tab1">
				@foreach( var item in (ViewBag.Devices1) )
				{
					<tr id="tr_tab1_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>
							Выдать на склад: 
							<select id="tab1_select_setup_store_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].MatmodelID" style="width: 250px;">
								<option value=""></option>
								@foreach(var store in ViewBag.Stores)
								{
									if (ViewBag.StoreID != store.ID)
									{
										if (store.ID == item.StoreID)  {
											<option selected="selected" value="@(store.ID)">@store.Name</option>
										}
										else {
											<option value="@(store.ID)">@store.Name</option>
										}
									}
								}								
							</select>
							<a href="#" id="issue@(item.ID)">Выдать</a><br/>
							<script>
								$("#issue@(item.ID.ToString())").click(function() {
									$.get('@Url.Action("DevicesSetIssue", "Store")', { device_id: @(item.ID), store_id: $("#tab1_select_setup_store_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>

							Установить в кабинет:
							<select id="tab1_select_setup_room_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].RoomID" style="width: 250px;">
								<option value=""></option>
								@foreach(var room in ViewBag.Rooms)
								{
									if (room.ID == item.RoomID)  {
										<option selected="selected" value="@(room.ID)">@room.FullName</option>
									}
									else {
										<option value="@(room.ID)">@room.FullName</option>
									}
								}								
							</select>
							<input id="serial_@(item.ID)" type="text" value="@(item.Serial)" placeholder="Серийный номер" >
							<input id="ipaddr_@(item.ID)" type="text" value="@(item.IPAddr)" placeholder="IP адрес" >
							<input id="host_@(item.ID)" type="text" value="@(item.Host)" placeholder="Хост" >

							<a href="#" id="tab1_setup@(item.ID)">Установить</a><br/>
							<script>
								$("#tab1_setup@(item.ID.ToString())").click(function() {									
									$.get('@Url.Action("DevicesSetSetup", "Store")', { device_id: @(item.ID), room_id: $("#tab1_select_setup_room_@(item.ID)").val(), serial: $("#serial_@(item.ID)").val(), ipaddr: $("#ipaddr_@(item.ID)").val(), host: $("#host_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>


							<a href="#" id="marriage@(item.ID)">Брак</a>
							<script>
								function AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("DevicesUpdateStatus", "Store")', { device_id: @(item.ID), status_id: status }, function(data) {	});
								}
								
								$("#marriage@(item.ID.ToString())").click(function() {
									$.get('@Url.Action("DevicesSetCauseOfMarriage", "Store")', { device_id: @(item.ID), cause_of_marriage: $("#cause_of_marriage_@(item.ID)").val() }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
							<input id="cause_of_marriage_@(item.ID)" type="text" value="@(item.CauseOfMarriage)" placeholder="Причина брака" >
						</td>
						<td>
							<a href="#" id="delete@(item.ID)">Удалить</a>
							<script>
								$("#delete@(item.ID)").click(function() {
									$.get('@Url.Action("Delete", "Device")', { id: @(item.ID) }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div> <!-- tabs-1 -->

	<div id="tabs-2">
		<table>
			<tbody id="tbody_tab2">
				@foreach( var item in (
										  from devhist in (List<Devhistory>)ViewBag.Devhistory 
										  join device in ( (List<Device>)ViewBag.Devices ) on devhist.DeviceID equals device.ID
										  join store in ( (List<Store>)ViewBag.Stores ) on device.Store.ID equals store.ID
                                  
										  select new
										  {
											  ID = device.ID,
											  Devmodel = device.Devmodel,
											  Updated_At = device.Updated_At,
											  StoreID = store.ID,                                      
											  StoreName = store.Name,
											  CauseOfMarriage = device.CauseOfMarriage,
											  RoomID = device.RoomID,
										  }				
				
										) )
				{
					<tr id="tr_tab2_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>							
							
							Выдан на склад: @item.StoreName											
							
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	
	<div id="tabs-22">
		<table>
			<tbody id="tbody_tab22">
				@foreach( var item in (
										  ViewBag.Devices22
								      ) 
						)

				{
					<tr id="tr_tab22_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>
							Установлен в кабинете: <br />
							@foreach(var room2 in ((List<Room>)ViewBag.Rooms).Where(x => x.ID==item.RoomID))
							{
								@room2.FullName
							}
						</td>
						<td>
							<input id="tab22_cause_of_marriage_@(item.ID)" type="text" value="@(item.CauseOfMarriage)" placeholder="Причина брака" >
							<br />
							<a href="#" id="tab22_marriage@(item.ID)">Брак</a>
							<script>
								function tab22_AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("DevicesUpdateStatus", "Store")', { device_id: @(item.ID), status_id: status }, function(data) {	});
								}
								$("#tab22_marriage@(item.ID)").click(function() {
										$.get('@Url.Action("DevicesSetCauseOfMarriage", "Store")', { device_id: @(item.ID), cause_of_marriage: $("#tab22_cause_of_marriage_@(item.ID)").val() }, function(data) {	});
									$(this).parent().parent().remove();
								});
							</script>							
						</td>
						
						<td>
							
							<a href="#" id="tab22_serial_save@(item.ID)">Сохранить серийный номер</a>
							<script>								
								$("#tab22_serial_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveSerial", "Store")', { device_id: @(item.ID), serial: $("#tab22_serial_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_serial_@(item.ID)" type="text" value="@(item.Serial)" placeholder="Серийный номер" >
							<br />
						
							
							<a href="#" id="tab22_ipaddr_save@(item.ID)">Сохранить IP адрес</a>
							<script>								
								$("#tab22_ipaddr_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveIPAddr", "Store")', { device_id: @(item.ID), ipaddr: $("#tab22_ipaddr_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_ipaddr_@(item.ID)" type="text" value="@(item.IPAddr)" placeholder="IP адрес" >
							<br />
													
							<a href="#" id="tab22_host_save@(item.ID)">Сохранить хост</a>
							<script>								
								$("#tab22_host_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveHost", "Store")', { device_id: @(item.ID), host: $("#tab22_host_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_host_@(item.ID)" type="text" value="@(item.Host)" placeholder="Хост" >
							<br />
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>


	<div id="tabs-3">
		<table>
			<tbody id="tbody_tab3">
				@foreach( var item in (ViewBag.Devices3) )
				{
					<tr id="tr_tab3_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>@item.CauseOfMarriage</td>
						<td>							
							<a href="#" id="tab3_marriage@(item.ID)">На склад</a>
							<script>
								function tab3_AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("DevicesUpdateStatus", "Store")', { device_id: @(item.ID), status_id: status }, function(data) {	});
								}
								$("#tab3_marriage@(item.ID)").click(function() {								
									tab3_AjaxUpdateStatus@(item.ID)( 1 );		
									$(this).parent().parent().remove();									
								});
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>


