@using HardX.Models
@{
    ViewBag.Title = "Данные по оргтехники";
}

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

@Html.ActionLink("Назад на склад", "Devices", new { id=ViewBag.StoreID }) 

<div id="tabs">
	 <ul>
		<li><a href="#tabs-1">Наличие</a></li>
		<li><a href="#tabs-2">Выдано</a></li>
		<li><a href="#tabs-22">Установлено</a></li>
		<li><a href="#tabs-3">Забраковано</a></li>
	</ul>
	<div id="tabs-1">
		<table class="table_tab1>
			<tbody id="tbody_tab1">
				@foreach( var item in (ViewBag.Devices1) )
				{

					<tr id="tr_tab1_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>
							Выдать на склад: <br />
							<select id="tab1_select_setup_store_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].MatmodelID" style="width: 250px;">
								<option value=""></option>
								@foreach(var store in ViewBag.Stores)
								{
									if (ViewBag.StoreID != store.ID)
									{
										if (store.ID == item.Store.ID)  {
											<option selected="selected" value="@(store.ID)">@store.Name</option>
										}
										else {
											<option value="@(store.ID)">@store.Name</option>
										}
									}
								}								
							</select>
							<a href="#" id="issue@(item.ID)">Выдать</a><br/>
							<script>
								$("#issue@(item.ID.ToString())").click(function() {
									$.get('@Url.Action("DevicesSetIssue", "Store")', { device_id: @(item.ID), store_id: $("#tab1_select_setup_store_@(item.ID)").val() }, function(data) { $(this).text("Сохранено");	});
									
								});
							</script>
							<br />
							Установить в кабинет: <br />
							<select id="tab1_select_setup_room_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].RoomID" style="width: 250px;">
								<option value=""></option>
								@foreach(var room in ViewBag.Rooms)
								{
									if (room.ID == item.RoomSetupID)  {
										<option selected="selected" value="@(room.ID)">@room.FullName</option>
									}
									else {
										<option value="@(room.ID)">@room.FullName</option>
									}
								}								
							</select>
							<a href="#" id="tab1_setup@(item.ID)">Установить</a><br/>
							<script>
								$("#tab1_setup@(item.ID.ToString())").click(function() {									
									$.get('@Url.Action("DevicesSetSetup", "Store")', { device_id: @(item.ID), room_id: $("#tab1_select_setup_room_@(item.ID)").val(), serial: $("#tab22_serial_@(item.ID)").val(), ipaddr: $("#tab22_ipaddr_@(item.ID)").val(), host: $("#tab22_host_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>
							<br />Указать причину брака:<br />							
							<input id="cause_of_marriage_@(item.ID)" type="text" value="@(item.CauseOfMarriage)" placeholder="Причина брака" >
							<a href="#" id="marriage@(item.ID)">Сохранить</a><br />
							<script>
								function AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("DevicesUpdateStatus", "Store")', { device_id: @(item.ID), status_id: status }, function(data) {	});
								}
								
								$("#marriage@(item.ID.ToString())").click(function() {
									$.get('@Url.Action("DevicesSetCauseOfMarriage", "Store")', { device_id: @(item.ID), cause_of_marriage: $("#cause_of_marriage_@(item.ID)").val() }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
						</td>

						<td>
							<a href="#" id="tab22_serial_save@(item.ID)">Сохранить серийный номер</a>
							<script>								
								$("#tab22_serial_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveSerial", "Store")', { device_id: @(item.ID), serial: $("#tab22_serial_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_serial_@(item.ID)" type="text" value="@(item.Serial)" placeholder="Серийный номер" >
							<br />
						
							
							<a href="#" id="tab22_ipaddr_save@(item.ID)">Сохранить IP адрес</a>
							<script>								
								$("#tab22_ipaddr_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveIPAddr", "Store")', { device_id: @(item.ID), ipaddr: $("#tab22_ipaddr_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_ipaddr_@(item.ID)" type="text" value="@(item.IPAddr)" placeholder="IP адрес" >
							<br />
													
							<a href="#" id="tab22_host_save@(item.ID)">Сохранить хост</a>
							<script>								
								$("#tab22_host_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveHost", "Store")', { device_id: @(item.ID), host: $("#tab22_host_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_host_@(item.ID)" type="text" value="@(item.Host)" placeholder="Хост" >
							<br />
						</td>

							
						<td>
							<a href="#" id="delete@(item.ID)">Удалить</a>
							<script>
								$("#delete@(item.ID)").click(function() {
									$.get('@Url.Action("Delete", "Device")', { id: @(item.ID) }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
						</td>
						
					</tr>
					
				}
			</tbody>
		</table>

		<script>
			$(document).ready(function() {
				$('tbody tr:even').css('background-color', '#dddddd');
			});
		</script>

		<input id="serial_new" type="text" value="" placeholder="Серийный номер" >
		<input id="ipaddr_new" type="text" value="" placeholder="IP адрес" >
		<input id="host_new" type="text" value="" placeholder="Хост" >
		<a href="#" id="added_new">Добавить</a>
		<script>								
			$("#added_new").click(function() {
				$.get('@Url.Action("DevicesAdded", "Store")', { repository_id: @(ViewBag.StoreID), devmodel_id: @(ViewBag.DevmodelID), serial: $("#serial_new").val(),  ipaddr: $("#ipaddr_new").val(), host: $("#host_new").val()}, function(data) { location.reload(true);	});
				 
			});
		</script>


	</div> <!-- tabs-1 -->

	<div id="tabs-2">
		<table>
			<tbody id="tbody_tab2">
				@foreach( var item in (
											from device in (NHibernate.Collection.Generic.PersistentGenericSet<Device>) ViewBag.theStore.Devices
											join store in ( (List<Store>)ViewBag.Stores ) on device.StoreIssuedID equals store.ID
														where device.Devmodel.ID == ViewBag.DevmodelID 
														select new  {	
																		DevmodelID=device.Devmodel.ID,
																		StatusID = device.StatusID,																													
																		  ID = device.ID,
																		  Devmodel = device.Devmodel,
																		  Updated_At = device.Updated_At,
																		  StoreID = store.ID,                                      
																		  StoreName = store.Name,
																		  CauseOfMarriage = device.CauseOfMarriage,
																		  RoomID = device.RoomSetupID,
																		  Serial = device.Serial
																	}													
				
										) )
				{
					if(@item.StatusID==2)
					{
						<tr id="tr_tab2_@(item.ID)">
							<td>@item.ID</td>
							<td>@item.Devmodel.FullName</td>
							<td>@item.Serial</td>
							<td>@item.Updated_At.ToString()</td>
							<td>														
								Выдан на склад: @item.StoreName																
							</td>
							<td>
								<a href="#" id="delete@(item.ID)">Удалить</a>
								<script>
									$("#delete@(item.ID)").click(function() {
										$.get('@Url.Action("Delete", "Device")', { id: @(item.ID) }, function(data) {	});									
										$(this).parent().parent().remove();
									});
								</script>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
	
	<div id="tabs-22">
		<table>
			<tbody id="tbody_tab22">
				@foreach( var item in (
										  ViewBag.Devices22
								      ) 
						)

				{
					<tr id="tr_tab22_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>
							Установлен в кабинете: <br />							
							@foreach(var room2 in ((List<Room>)ViewBag.Rooms).Where(x => x.ID==item.RoomSetupID))
							{
								@room2.FullName
							}
							<br/>
							Изменить на новый кабинет: <br />
							<select id="tab22_select_setup_room_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].RoomID" style="width: 250px;">
								<option value=""></option>
								@foreach(var room in ViewBag.Rooms)
								{
									if (room.ID == item.RoomSetupID)  {
										<option selected="selected" value="@(room.ID)">@room.FullName</option>
									}
									else {
										<option value="@(room.ID)">@room.FullName</option>
									}
								}								
							</select>
							<br />
							<a href="#" id="tab22_setup_save@(item.ID)">Сохранить</a>
							<script>								
								$("#tab22_setup_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveSetup", "Store")', { device_id: @(item.ID), room_setup_id: $("#tab22_select_setup_room_@(item.ID)").val() }, function(data) {  location.reload(true);	});
									$(this).text("Сохранено");
								});
							</script>

						</td>
						<td>
							<input id="tab22_cause_of_marriage_@(item.ID)" type="text" value="@(item.CauseOfMarriage)" placeholder="Причина брака" >
							<br />
							<a href="#" id="tab22_marriage@(item.ID)">Брак</a>
							<script>
								function tab22_AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("DevicesUpdateStatus", "Store")', { device_id: @(item.ID), status_id: status }, function(data) {	});
								}
								$("#tab22_marriage@(item.ID)").click(function() {
										$.get('@Url.Action("DevicesSetCauseOfMarriage", "Store")', { device_id: @(item.ID), cause_of_marriage: $("#tab22_cause_of_marriage_@(item.ID)").val() }, function(data) {	});
									$(this).parent().parent().remove();
								});
							</script>							
						</td>
						
						<td>							
							<a href="#" id="tab22_serial_save@(item.ID)">Сохранить серийный номер</a>
							<script>								
								$("#tab22_serial_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveSerial", "Store")', { device_id: @(item.ID), serial: $("#tab22_serial_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_serial_@(item.ID)" type="text" value="@(item.Serial)" placeholder="Серийный номер" >
							<br />
						
							
							<a href="#" id="tab22_ipaddr_save@(item.ID)">Сохранить IP адрес</a>
							<script>								
								$("#tab22_ipaddr_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveIPAddr", "Store")', { device_id: @(item.ID), ipaddr: $("#tab22_ipaddr_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_ipaddr_@(item.ID)" type="text" value="@(item.IPAddr)" placeholder="IP адрес" >
							<br />
													
							<a href="#" id="tab22_host_save@(item.ID)">Сохранить хост</a>
							<script>								
								$("#tab22_host_save@(item.ID)").click(function() {
									$.get('@Url.Action("DevicesSaveHost", "Store")', { device_id: @(item.ID), host: $("#tab22_host_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>							
							<br />
							<input id="tab22_host_@(item.ID)" type="text" value="@(item.Host)" placeholder="Хост" >
							<br />
						</td>
						<td>
							<a href="#" id="delete@(item.ID)">Удалить</a>
							<script>
								$("#delete@(item.ID)").click(function() {
									$.get('@Url.Action("Delete", "Device")', { id: @(item.ID) }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>


	<div id="tabs-3">
		<table>
			<tbody id="tbody_tab3">
				@foreach( var item in (ViewBag.Devices3) )
				{
					<tr id="tr_tab3_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Devmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>@item.CauseOfMarriage</td>
						<td>							
							<a href="#" id="tab3_marriage@(item.ID)">На склад</a>
							<script>
								function tab3_AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("DevicesUpdateStatus", "Store")', { device_id: @(item.ID), status_id: status }, function(data) {	});
								}
								$("#tab3_marriage@(item.ID)").click(function() {								
									tab3_AjaxUpdateStatus@(item.ID)( 1 );		
									$(this).parent().parent().remove();									
								});
							</script>
						</td>
						<td>
							<a href="#" id="delete@(item.ID)">Удалить</a>
							<script>
								$("#delete@(item.ID)").click(function() {
									$.get('@Url.Action("Delete", "Device")', { id: @(item.ID) }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>


