@using HardX.Models
@{
    ViewBag.Title = "Данные по расходным материалам";
}

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

@Html.ActionLink("Назад", "Index") |
@Html.ActionLink("Расходные материалы", "Materials", new { id=ViewBag.StoreID }) |
@Html.ActionLink("Оборудование", "Devices", new { id=ViewBag.StoreID }) 

<div id="tabs">
	 <ul>
		<li><a href="#tabs-1">Наличие</a></li>
		<li><a href="#tabs-2">Выдано</a></li>
		<li><a href="#tabs-22">Установлено</a></li>
		<li><a href="#tabs-3">Забраковано</a></li>
	</ul>
	<div id="tabs-1">
		<table>
			<tbody id="tbody_tab1">
				@foreach( var item in ViewBag.Materials1 )
				{
					<tr id="tr_tab1_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Matmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>
							Выдать на склад:
							<select id="tab1_select_setup_store_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].MatmodelID" style="width: 250px;">
								<option value=""></option>
								@foreach(var store in ViewBag.Stores)
								{
									if (ViewBag.StoreID != store.ID)
									{
										if (store.ID == item.StoreID)  {
											<option selected="selected" value="@(store.ID)">@store.Name</option>
										}
										else {
											<option value="@(store.ID)">@store.Name</option>
										}
									}
								}								
							</select>
							<a href="#" id="issue@(item.ID)">Выдать</a><br/>
							<script>
								$("#issue@(item.ID.ToString())").click(function() {
									$.get('@Url.Action("MaterialsSetIssue", "Store")', { material_id: @(item.ID), store_id: $("#tab1_select_setup_store_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>

							Установить в оборудование:											
							<br />
							<select id="tab1_select_setup_device_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].MatmodelID" style="width: 450px;">
								<option value=""></option>
								@foreach(var device in from dev in (List<Device>)ViewBag.Devices
																join room in (List<Room>)ViewBag.Rooms on dev.RoomID equals room.ID
																join compability in (NHibernate.Collection.Generic.PersistentGenericSet<HardX.Models.Devmodel>)ViewBag.Matmodel.Devmodels on dev.Devmodel.ID equals compability.ID
																select new
																{
																	ID = dev.ID,
																	RoomID = room.ID,
																	FullName = dev.FullName + " - " + room.FullName,
																	RoomFullName = room.FullName
																}
								)

								{
									if (device.ID == item.DeviceID)  {
										<option selected="selected" value="@(device.ID)">@device.FullName</option>
									}
									else {
										<option value="@(device.ID)">@device.FullName</option>
									}
								}								
							</select>
							<a href="#" id="tab1_setup@(item.ID)">Установить</a><br/>
							<script>
								$("#tab1_setup@(item.ID.ToString())").click(function() {									
									$.get('@Url.Action("MaterialsSetSetup", "Store")', { material_id: @(item.ID), device_id: $("#tab1_select_setup_device_@(item.ID)").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>
							<a href="#" id="marriage@(item.ID)">Брак</a>
							<script>
								function AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("MaterialsUpdateStatus", "Store")', { material_id: @(item.ID), status_id: status }, function(data) {	});
								}								
								$("#marriage@(item.ID.ToString())").click(function() {
									$.get('@Url.Action("MaterialsSetCauseOfMarriage", "Store")', { material_id: @(item.ID), cause_of_marriage: $("#cause_of_marriage_@(item.ID)").val() }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
							<input id="cause_of_marriage_@(item.ID)" type="text" value="@(item.CauseOfMarriage)" placeholder="Причина брака" >


						</td>
						<td>
							<a href="#" id="delete@(item.ID)">Удалить</a>
							<script>
								$("#delete@(item.ID)").click(function() {
									$.get('@Url.Action("Delete", "Material")', { id: @(item.ID) }, function(data) {	});									
									$(this).parent().parent().remove();
								});
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div> <!-- tabs-1 -->

	<div id="tabs-22">
		<table>
			<tbody id="tbody_tab22">			
				@foreach( var item in from mathist in (List<Mathistory>)ViewBag.Mathistory 
                                  join material in ( (List<Material>)ViewBag.Materials ) on  mathist.MaterialID equals material.ID
								  join store in ( (List<Store>)ViewBag.Stores ) on material.Store.ID equals store.ID
                                  
                                  select new
                                  {
                                      ID = material.ID,
                                      Matmodel = material.Matmodel,
                                      Updated_At = material.Updated_At,
                                      StoreID = store.ID,                                      
                                      StoreName = store.Name,
									  CauseOfMarriage = material.CauseOfMarriage,
									  DeviceID = material.DeviceID,
                                  }

                                   )
				{
					<tr id="tr_tab22_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Matmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>							
							
							Выдано на склад: @item.StoreName (# @item.StoreID)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	<div id="tabs-2">
		<table>
			<tbody id="tbody_tab2">
				@foreach( var item in ViewBag.Materials22 )
				{
					<tr id="tr_tab2_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Matmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>							
							<a href="#" id="tab2_marriage@(item.ID)">Брак</a>
							<input id="cause_of_marriage_@(item.ID)" type="text" value="@(item.CauseOfMarriage)" placeholder="Причина брака" >
							<script>
								function tab2_AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("MaterialsUpdateStatus", "Store")', { material_id: @(item.ID), status_id: status }, function(data) {	});
								}
								$("#tab2_marriage@(item.ID.ToString())").click(function() {
											$.get('@Url.Action("MaterialsSetCauseOfMarriage", "Store")', { material_id: @(item.ID), cause_of_marriage: $("#cause_of_marriage_@(item.ID)").val() }, function(data) {	});
									$(this).parent().parent().remove();
								});
							</script>
							Куда установить?											
							<select id="tab2_select_setup_device_@(item.ID)" class="chosen-select" placeholder="Выбрать..." name="[0].MatmodelID" style="width: 250px;">
								<option value=""></option>
								@foreach(var device in ViewBag.Devices)
								{
									if (device.ID == item.DeviceID)  {
										<option selected="selected" value="@(device.ID)">@device.FullName</option>
									}
									else {
										<option value="@(device.ID)">@device.FullName</option>
									}
								}								
							</select>
							<a href="#" id="tab2_setup@(item.ID)">Установить</a>
							<script>
								$("#tab2_setup@(item.ID.ToString())").click(function() {									
									$.get('@Url.Action("MaterialsSetSetup", "Store")', { material_id: @(item.ID), device_id: $("#tab2_select_setup_device").val() }, function(data) {	});
									$(this).text("Сохранено");
								});
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	
	
	<div id="tabs-3">
		<table>
			<tbody id="tbody_tab3">
				@foreach( var item in ViewBag.Materials3 )
				{
					<tr id="tr_tab3_@(item.ID)">
						<td>@item.ID</td>
						<td>@item.Matmodel.FullName</td>
						<td>@item.Updated_At.ToString()</td>
						<td>@item.CauseOfMarriage</td>
						<td>							
							<a href="#" id="tab3_marriage@(item.ID)">На склад</a>
							<script>
								function tab3_AjaxUpdateStatus@(item.ID)(status) {
									$.get('@Url.Action("MaterialsUpdateStatus", "Store")', { material_id: @(item.ID), status_id: status }, function(data) {	});
								}
								$("#tab3_marriage@(item.ID)").click(function() {								
									tab3_AjaxUpdateStatus@(item.ID)( 1 );		
									$(this).parent().parent().remove();									
								});
							</script>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>


