<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" >
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" ></script>
</head>

<body>
    @RenderBody()
	<p>
    @Html.ActionLink("Оборудование", "Index", "Devmodel") | @Html.ActionLink("Расходные материалы", "Index", "Matmodel")
	</p>
</body>
</html>
