<ul id="nav">
    <li class="top"><a href="@Url.Action("Index", "Home")" class="top_link"><span>Главная</span></a></li>
@if (HardX.Models.User.CurrentUserId > 0) 
{
    <li class="top"><a href="#" class="top_link"><span class="down">Ресурсы</span></a>
        <ul class="sub">
            <li><a href="@Url.Action("Index", "Area")">Площадки</a></li>
            <li><a href="@Url.Action("Index", "Store")">Склады</a></li>
            @if ( HardX.Models.User.CurrentUser.IsExistRole(1)/*снабженец*/ )
            {
              <li><a href="@Url.Action("Index", "Shipping")">Поставки</a></li>
            }
        </ul>
    </li>
    <li class="top"><a href="#" class="top_link"><span class="down">Справочники</span></a>
        <ul class="sub">
            <li><a href="#" class="fly">Адреса</a>
					<ul>
						<li>
              <a href="@Url.Action("Index", "State")">Регионы</a>
            </li>
            <li>
              <a href="@Url.Action("Index", "Region")">Районы</a>
            </li>
            <li>
              <a href="@Url.Action("Index", "Town")">Населённые пункты</a>
            </li>
            <li>
              <a href="@Url.Action("Index", "Street")">Улицы</a>
            </li>
                        
            <li>
              <a href="@Url.Action("Index", "House")">Здания</a>
            </li>
                 
            <li>
              <a href="@Url.Action("Index", "Room")">Кабинеты</a>
            </li>
          
					</ul>
			</li>
            <li><a href="@Url.Action("Index", "Devmodel")">Оборудование</a></li>
            <li><a href="@Url.Action("Index", "Matmodel")">Расходные материалы</a></li>
            <li><a href="#">Типы</a></li>
        </ul>
    </li>
    <li class="top"><a href="#" class="top_link"><span class="down">Управление</span></a>
        <ul class="sub">
            <li><a href="@Url.Action("Index", "User")">Пользователи</a></li>
            <li><a href="@Url.Action("Index", "Role")">Роли</a></li>
            <li><a href="@Url.Action("Index", "Branche")">Филиалы</a></li>
        </ul>
    </li>
}
    <li class="top"><a href="#" class="top_link"><span>Помощь</span></a></li>
</ul>

    