<ul id="nav">
    <li class="top"><a href="@Url.Action("Index", "Home")" class="top_link"><span>Главная</span></a></li>
    <li class="top"><a href="@Url.Action("Index", "Store")" class="top_link"><span>Склады</span></a></li>
    <li class="top"><a href="@Url.Action("Index", "Devmodel")" class="top_link"><span>Оборудование</span></a></li>
    <li class="top"><a href="@Url.Action("Index", "Matmodel")" class="top_link"><span>Расходные материалы</span></a></li>
    @{/*
    <li class="top"><a href="#" class="top_link"><span class="down">Меню1</span></a>
		<ul class="sub">
			<li><a href="#" class="fly">Подменю11</a>
					<ul>
						<li><a href="@Url.Action("Index", "Home")">Подменю111</a></li>
                        <li><a href="#" class="fly">Подменю112</a>                        
							<ul>
                                <li><a href="@Url.Action("Index", "Home")">Подменю1121</a></li>
			                    <li><a href="@Url.Action("Index", "Home")">Подменю1122</a></li>
			                    <li><a href="@Url.Action("Index", "Home")">Подменю1123</a></li>
							</ul>
						</li>
                        <li><a href="@Url.Action("Index", "Home")">Подменю113</a></li>
					</ul>
			</li>
			<li><a href="@Url.Action("Index", "Home")">Подменю12</a></li>
			<li><a href="@Url.Action("Index", "Home")">Подменю13</a></li>
		</ul>
	</li>
	<li class="top"><a href="#" class="top_link"><span class="down">Меню2</span></a>
		<ul class="sub">
            <li><a href="@Url.Action("Index", "Home")">Подменю21</a></li>
			<li><a href="@Url.Action("Index", "Home")">Подменю22</a></li>
			<li><a href="@Url.Action("Index", "Home")">Подменю23</a></li>
		</ul>
	</li>*/}
    <li class="top"><a href="@Url.Action("Index", "Home")" class="top_link"><span>Помощь</span></a></li>
</ul>