@model HardX.Models.Shipping
@using HardX.Models

@{
    ViewBag.Title = "Распределение поставки";
}

<h2>@ViewBag.Title</h2>



<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>




    </fieldset>
		<table id="edit_shipping" class="table table-bordered">
					<tr>
						<th>#
						</th>
						<th>
							Устройство
						</th>
						<th>
							Материал
						</th>
						<th>
							Кол-во
						</th>

						@foreach (var item in ViewBag.Stores) {
							<th>
								@item.Name
							</th>
						}
						
					</tr>
				@foreach (var item in Model.Shippingitems) {
					<tr>
						<td>
							@item.ID
						</td>

						<td>
							@if (item.Devmodel!= null) {
								@item.Devmodel.FullName					
							}
						</td>

						<td>
							@if (item.Matmodel!=null) {
								@item.Matmodel.FullName
							}
						</td>
						<td>					
								@item.Count					
						</td>
						
						@foreach (var store in ViewBag.Stores) {
							<td storeid=@store.ID shippingitemid=@item.ID class="distribute">

								@( ((List<Shippingitemdistribute>) ViewBag.Distributes).Where(distr => distr.StoreID == store.ID && distr.ShippingitemID == @item.ID).Sum(d => d.Count)  )

							</td>
						}

					</tr>
				}

		</table>
		<script>
			$(".distribute")
				.hover(function() {
						$(this).toggleClass("over-inline");
					})
					.unbind('click').click(function(e) {	
						var $editable = $(this);
						if ($editable.hasClass('active-inline')) {
							return;
						};
						clicked = 0;
						
						content = $.trim($editable.html());
						
						$editable
							.addClass("active-inline")
							.empty();

						var editElement = '<input type="text" />';
						
						$(editElement)
							//.val(content)
							.appendTo($editable)
							.focus()
							.blur(function(e) {
								$editable.trigger('blur');
							});
					})
					.unbind('blur').blur(function(e) {						
						clicked = 1;
						var $editable = $(this);
						handleGetFail($editable);
					})
					.keyup(function(event){
						if(event.keyCode == 13){
							if (clicked == 1) {
								return;
							};
							clicked = 1;
							var $editable = $(this);
							handleGetSuccess($editable, $(this).attr("shippingitemid"), $(this).attr("storeid") );
						
						}
						if(event.keyCode == 27){
								if (clicked == 1) {
									return;
								};
								clicked = 1;
								var $editable = $(this);
								handleGetFail($editable);						
						}
					})
					;


					function handleGetSuccess(editable,shippingitem_id,store_id)
					{
					
						var contents = editable.find(':first-child:input').val();
					
						if (" "+(parseInt( contents ))+" "!=" NaN ") {											
							var count_delta = parseInt( contents );
							contents = count_delta ;
							contents = contents + " ";
							
							$.get('@Url.Action("Create", "Shippingitemdistribute")', { shippingitem_id:shippingitem_id , store_id: store_id, count: count_delta }, function(data) {	});
											
						} else {
							contents = content;
						}

						editable
							.removeClass('active-inline')
							.contents()
							.replaceWith(contents);					
					}

				function handleGetFail(editable)
				{
					contents = content;
					
					editable
							.removeClass('active-inline')
							.contents()
							.replaceWith(contents);
				}

		</script>
		
<div>
    
	<p>    
	@Html.ActionLink("Назад", "Index")
			<button id="distribute_save" type="button" class="btn btn-primary">Распределить</button>
		</p>
</div>

<script>
	$("#distribute_save").click(function() {
		$.get('@Url.Action("DistributeSave", "Shipping")', { id:@Model.ID }, function(data) {	});
	});
</script>


<script>


	$(document).ajaxStop($.unblockUI);

				$(document).ajaxError(
    function (event, jqXHR, ajaxSettings, thrownError) {
        alert('[event:' + event + '], [jqXHR:' + jqXHR.responseText + '], [ajaxSettings:' + ajaxSettings + '], [thrownError:' + thrownError + '])');
    });

</script>